<? include "./flarum/view/doctype.inc.htm"; ?>
  <body>
    <div id="app" class="App App--index">
      <? include "./flarum/view/header.inc.htm"; ?>
      <div class="App-content">
        <div id="content">
          <div class="UserPage">
            <?php include "./flarum/view/my_usercard.inc.htm"; ?>
						<div class="container">
					    <!--边栏开始-->
					    <div class="sideNav UserPage-nav">
                <ul class="affix-top">
                  <li class="item-nav">
                    <div class="ButtonGroup Dropdown dropdown App-titleControl Dropdown--select">
                      <button class="Dropdown-toggle Button" data-toggle="dropdown">
                        <span class="Button-label">修改密码</span>
                        <i class="icon fa fa-fw fa-sort Button-caret"></i>
                      </button>
                      <ul class="Dropdown-menu dropdown-menu">
                        <li>
                          <a href="my-agree.htm" class="hasIcon">
                            <i class="icon fa fa-fw fa-heart-o Button-icon"></i>
                            <span class="Button-label">我喜欢的<span class="Button-badge"><?php echo $user['myagrees'] ?></span></span>
                          </a>
                        </li>
                        <li>
                          <a href="my-thread.htm" class="hasIcon">
                            <i class="icon fa fa-fw fa-reorder Button-icon"></i>
                            <span class="Button-label">我的帖子<span class="Button-badge"><?php echo $user['posts'] ?></span></span>
                          </a>
                        </li>
                        <li class="Dropdown-separator"></li>
                        <li>
                          <a href="my-profile.htm" class=" hasIcon">
                            <i class="icon fa fa-fw fa-cog Button-icon"></i>
                            <span class="Button-label">设置</span>
                          </a>
                        </li>
                        <li class="active">
                          <a href="my-password.htm" class=" hasIcon">
                            <i class="icon fa fa-fw fa-key Button-icon"></i>
                            <span class="Button-label">修改密码</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
					    <!--内容栏开始-->
					    <div class="sideNavOffset UserPage-content">
					      <div class="Form">
							    <form action="my-password.htm" method="post" id="my_password_form">
							      <div class="Form-group">
							      	<label for="password">旧密码：</label><input type="password" name="password" id="password" class="FormControl">
							      </div>
							      <div class="Form-group">
							      	<label for="newpassword">新密码：</label><input type="password" name="newpassword" id="newpassword" class="FormControl">
							      </div>
							      <div class="Form-group">
							      	<label for="newpassword2">重复密码：</label><input type="password" name="newpassword2" id="newpassword2" class="FormControl">
							      </div>
							      <div class="Form-group">
							      	<button class="Button Button--primary Button--block" type="submit"><span class="Button-label" loading-text="正在提交...">保存更改</span></button>
							      </div>
									</form>
								</div>
					    </div>
						</div>
					</div>
				</div>
			</div>
      <? include "./flarum/view/footer.inc.htm"; ?>
		</div>
<script>

var jform = $('#my_password_form');
var jpassword = jform.find('input[name="password"]');
var jnewpassword = jform.find('input[name="newpassword"]');
var jnewpassword2 = jform.find('input[name="newpassword2"]');
var jsubmit = jform.find('button[type="submit"]');
jform.off('submit').on('submit', function() {
	if(!jpassword.val()) {
		jpassword.popover('请输入旧密码').focus();
		return false;
	} else if(!jnewpassword.val()) {
		jnewpassword.popover('请输入新密码').focus();
		return false;
	} else if(jnewpassword.val() != jnewpassword2.val()) {
		jnewpassword2.popover('两次输入的密码不一致。').focus();
		return false;
	}
	var postdata = "password="+$.md5(jpassword.val())+"&newpassword="+$.md5(jnewpassword.val());
	jsubmit.button('loading');
	$.xpost(jform.attr('action'), postdata, function(code, message) {
		if(code == 0) {
			jsubmit.text(message);
			setTimeout(function() {jsubmit.button('reset');}, 2000);
			return;
		} else  if(code == 1) {
			jpassword.popover(message).focus();
		} else  if(code == 2) {
			jnewpassword.popover(message).focus();
		} else  if(code == 3) {
			jnewpassword2.popover(message).focus();
		} else {
			$.alert(message);
		}
		jsubmit.button('reset');
	});
	return false;
});

</script>
  </body>
</html>

<?php
online_save();
cron_run();
runtime_save();
?>