<?php include "./flarum/view/doctype.inc.htm"; ?>
	<body>
    <div id="app" class="App App--index">
      <? include "./flarum/view/header.inc.htm"; ?>
      <div class="App-content">
        <div id="content">
          <div class="UserPage">
          	<?php include "./flarum/view/user_card.inc.htm"; ?>
          	<div class="container">
              <!--边栏开始-->
              <div class="sideNav UserPage-nav">
                <ul class="affix-top">
                  <li class="item-nav">
                    <div class="ButtonGroup Dropdown dropdown App-titleControl Dropdown--select">
                      <button class="Dropdown-toggle Button" data-toggle="dropdown">
                        <span class="Button-label">个人资料</span>
                        <i class="icon fa fa-fw fa-sort Button-caret"></i>
                      </button>
                      <ul class="Dropdown-menu dropdown-menu">
                      	<li class="active">
                          <a href="user-<?=$_uid?>.htm" class="hasIcon">
                            <i class="icon fa fa-fw fa-user Button-icon"></i>
                            <span class="Button-label">个人资料<span class="Button-badge"><?php echo $user['myagrees'] ?></span></span>
                          </a>
                        </li>
                        <? if($_user['uid'] != 0) { ?>
                        <li>
                          <a href="user-thread-<?=$_uid?>.htm" class="hasIcon">
                            <i class="icon fa fa-fw fa-comment Button-icon"></i>
                            <span class="Button-label">他的帖子<span class="Button-badge"><?php echo $user['myagrees'] ?></span></span>
                          </a>
                        </li>
                        <li>
                          <a href="user-agree-<?=$_uid?>.htm" class="hasIcon">
                            <i class="icon fa fa-fw fa-heart Button-icon"></i>
                            <span class="Button-label">他喜欢的<span class="Button-badge"><?php echo $user['posts'] ?></span></span>
                          </a>
                        </li>
                        <? } ?>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>

              <!--内容栏开始-->
			        <div class="sideNavOffset UserPage-content">
			          <div class="SettingsPage">
                  <?php if($_user['uid'] > 0) { ?>
			            <ul>
                    <li class="item-account">
                      <fieldset class="Settings-account">
                        <legend>操作</legend>
                        <ul>
                          <li>
                            <?php if(!empty($group['allowbanuser'])) { ?>
                            <select id="day_<?php echo $_ip_url; ?>">
                              <option value="1">一天</option>
                              <option value="3">三天</option>
                              <option value="7">一周</option>
                              <option value="30">一月</option>
                              <option value="365">一年</option>
                              <option value="0">永久禁止</option>
                              <option value="-1">解除禁止</option>
                            </select> &nbsp;
                            <button class="Button" id="user_banip_<?php echo $_ip_url; ?>">禁止/解除注册 IP</button>
                            <?php } ?>
                          </li>
                          <?php if(!empty($group['allowdeleteuser'])) { ?>
                          <li>
                            <button class="Button Button--danger" id="user_delete_<?php echo $_uid; ?>">
                              <span class="Button-label">删除用户</span>
                            </button>
                          </li>
                          <?php } ?>
                        </ul>
                      </fieldset>
                    </li>
		                <li class="item-notifications">
		                  <fieldset class="Settings-notifications">
		                    <legend>个人资料</legend>
		                    <ul>
		                      <li>
		                        <table class="NotificationGrid">
		                          <thead>
		                            <tr>
		                              <th>序号</th>
		                              <th>项目</th>
		                              <th>内容</th>
		                            </tr>
		                          </thead>
		                          <tbody>
		                            <tr>
		                              <td>1</td>
		                              <td>用户名</td>
		                              <td><?php echo $_user['username']; ?></td>
		                            </tr>
		                            <tr>
		                              <td>2</td>
		                              <td>用户组</td>
		                              <td><?php echo $_user['groupname']; ?></td>
		                            </tr>
		                            <tr>
		                              <td>3</td>
		                              <td>主题</td>
		                              <td><?php echo $_user['threads']; ?></td>
		                            </tr>
		                            <tr>
		                              <td>4</td>
		                              <td>帖子</td>
		                              <td><?php echo $_user['posts']; ?></td>
		                            </tr>
		                            <tr>
		                              <td>5</td>
		                              <td>喜欢</td>
		                              <td><?php echo $_user['agrees']; ?></td>
		                            </tr>
		                            <?php if($group['allowviewip']) { ?>
		                            <tr>
		                              <td>6</td>
		                              <td>邮箱</td>
		                              <td><?php echo $_user['email']; ?></td>
		                            </tr>
		                            <tr>
		                              <td>7</td>
		                              <td>注册IP</td>
		                              <td><?php echo $_user['create_ip_fmt']; ?> <?php echo ($banip ? '[ 禁止至：'.$banip['expiry_fmt'].' ]' : ''); ?></td>
		                            </tr>
		                            <?php } ?>
		                          </tbody>
		                        </table>
		                      </li>
		                    </ul>
		                  </fieldset>
		                </li>
		              </ul>
                  <?php } else { ?>
                  <ul>
                    <li class="item-account">
                      <fieldset class="Settings-account">
                        <legend>操作</legend>
                        <ul>
                          <li>
                            <?php if(!empty($group['allowbanuser'])) { ?>
                            <select id="day_<?php echo $_ip_url; ?>" style="margin-left: -50px;">
                              <option value="1">一天</option>
                              <option value="3">三天</option>
                              <option value="7">一周</option>
                              <option value="30">一月</option>
                              <option value="365">一年</option>
                              <option value="0">永久禁止</option>
                              <option value="-1">解除禁止</option>
                            </select>
                            <button class="Button" id="user_banip_<?php echo $_ip_url; ?>">禁止/解除 IP</button>
                            <?php } ?>
                          </li>
                        </ul>
                      </fieldset>
                    </li>
                    <li class="item-notifications">
                      <fieldset class="Settings-notifications">
                        <legend>个人资料</legend>
                        <ul>
                          <li>
                            <table class="NotificationGrid">
                              <thead>
                                <tr>
                                  <th>序号</th>
                                  <th>项目</th>
                                  <th>内容</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>1</td>
                                  <td>用户名</td>
                                  <td><?php echo $_user['username']; ?></td>
                                </tr>
                                <tr>
                                  <td>2</td>
                                  <td>用户组</td>
                                  <td><?php echo $_user['groupname']; ?></td>
                                </tr>
                                <tr>
                                  <td>3</td>
                                  <td>IP</td>
                                  <td><?php echo $_ip; ?> <?php echo ($banip ? '[已禁止，截止日期：'.$banip['expiry_fmt'].']' : ''); ?></td>
                                </tr>
                              </tbody>
                            </table>
                          </li>
                        </ul>
                      </fieldset>
                    </li>
                  </ul>
                  <?php } ?>
		            </div>
		          </div>
      			</div>
          </div>
        </div>
      </div>
      <? include "./flarum/view/footer.inc.htm"; ?>
    </div>

<script>

// 删除用户
var jsubmit = $('#user_delete_<?=$_uid?>');
jsubmit.off('click').on('click', function() {
	if(window.confirm('确定删除用户吗？')) {
		// 这里可能需要调用多次才能彻底删除用户。考虑超时。
		$.xpost('pc/mod-deleteuser-<?=$_uid?>.htm', function(code, message) {
			if(code == 0) {
				jsubmit.button(message);
				setTimeout(function() {window.location.reload();}, 500);
			} else {
				$.alert(message);
				jsubmit.button('reset');
			}
		});
	}
});

// 禁止 ip
var jbansubmit = $('#user_banip_<?=$_ip_url?>');
var jday = $('#day_<?=$_ip_url?>');
jbansubmit.off('click').on('click', function() {
	// 这里可能需要调用多次才能彻底删除用户。考虑超时。
	$.xpost('pc/mod-banip-<?=$_ip_url?>-'+xn_urlencode(jday.val())+'.htm', function(code, message) {
		if(code == 0) {
			jbansubmit.button(message);
			setTimeout(function() {window.location.reload();}, 500);
		} else {
			$.alert(message);
			jbansubmit.button('reset');
		}
	});
});
$('#user_menu').find('a').eq(0).class_active();

</script>

  </body>
</html>

<?php
online_save();
cron_run();
runtime_save();
?>