<? include "./flarum/view/doctype.inc.htm"; ?>
<body>
  <div id="app" class="App App--index affix">
    <? include "./flarum/view/header_thread.inc.htm"; ?>
    <div id="modal">
      <div class="ModalManager modal fade in" style="display: block;">
        <div class="Modal modal-dialog Modal--small SignUpModal">
          <div class="Modal-content">
            <form method="POST" id="form" action="user-resetpw-<?=$auth?>.htm">
              <div class="Modal-header">
                <h3 class="App-titleControl App-titleControl--text">重设密码</h3>
              </div>
              <div class="Modal-body">
                <div class="Form Form--centered">
                  <p class="helpText"><?=$_user['email']?></p>
                  <div class="Form-group">
                    <input class="FormControl" type="text" placeholder="新密码" name="password">
                  </div>
                  <div class="Form-group">
                    <input class="FormControl" type="text" placeholder="重复密码" name="password2">
                  </div>
                  <div class="Form-group">
                    <button class="Button Button--primary Button--block" type="submit" loading-text="正在重设密码...">重设密码</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <? include "./flarum/view/footer.inc.htm"; ?>
  </div>

<? include "./flarum/view/footer.inc.htm"; ?>

<script>

$(function() {
	var jform = $('#form');
	var jsubmit = jform.find('button[type="submit"]');
	var jpassword = jform.find('input[name="password"]');
	var jpassword2 = jform.find('input[name="password2"]');
	jform.off('submit').on('submit', function() {
	//jsubmit.off('click').on('click', function() {
		if(!jpassword.val()) {
			jpassword.popover('请输入密码').focus();
			return false;
		}
		if(jpassword.val() != jpassword2.val()) {
			jpassword2.popover('两次输入的密码不一致').focus();
			return false;
		}
		var postdata = {password: jpassword.val()};
		jsubmit.button('loading');
		$.xpost(jform.attr('action'), postdata, function(code, message) {
			if(code == 0) {
				$.alert('重设密码成功，请重新登录');
				$.button('reset').button('disabled');
				setTimeout(function() {window.location='user-login.htm';}, 2000);
			} else if(code == 1) {
				jpassword.popover(message).focus();
				jsubmit.button('reset');
			} else {
				$.alert(message);
				setTimeout(function() {jsubmit.button('reset');}, 1000);
			}
		});
		return false;
	});
});
</script>

</body>
</html>

<?php
online_save();
cron_run();
runtime_save();
?>