<? include "./pc/view/doctype.inc.htm"; ?>

  <body>
    <div id="app" class="App affix App--index">
      <? include "./pc/view/header.inc.htm"; ?>

      <div class="App-content" id="threadlist_panel">
        <div class="IndexPage">
          <div class="Hero WelcomeHero alert">
          <div class="container">
            <button class="Hero-close Button Button--icon Button--link hasIcon" type="button">
              <i class="icon fa fa-fw fa-times Button-icon close"></i>
            </button>
            <div class="containerNarrow">
              <h2 class="Hero-title"><a href="forum-<?php echo $forum['fid']; ?>.htm"><?php echo $forum['name']; ?></a></h2>
              <div class="Hero-subtitle"><?php echo $forum['brief']; ?></div>
            </div>
          </div>
        </div>
          <div class="container">
            <div class="IndexPage-nav sideNav">
              <ul class="fixed sidenav-fixed" id="forumlist">
                <li class="item-newDiscussion App-primaryControl">
                <? if(empty($gid)) { ?>
                  <a class="Button Button--primary App-primaryControl hasIcon" href="thread-create<?=(empty($fid) ? '' : "-$fid")?>.htm"><i class="icon fa fa-fw fa-edit Button-icon"></i><span class="Button-label">发个帖子</span></a>
                <? } else { ?>
                  <a class="Button Button--primary App-primaryControl hasIcon" href="thread-create<?=(empty($fid) ? '' : "-$fid")?>.htm"><i class="icon fa fa-fw fa-edit Button-icon"></i><span class="Button-label">发个帖子</span></a>
                <? } ?>
                </li>
                <li class="item-nav">
                  <div class="ButtonGroup Dropdown dropdown App-titleControl Dropdown--select itemCount13">
                  	<button class="Dropdown-toggle Button"><span class="Button-label"><a href="./">所有话题</a></span> <i class="icon fa fa-fw fa-caret-down Button-caret"></i></button>
                    <ul class="Dropdown-menu dropdown-menu undefined" id="item-nav">
                    	<li fid="0"><a href="./" class="hasIcon"><i class="icon fa fa-fw fa-comments-o Button-icon"></i><span class="Button-label">所有话题</span> <i class="newthreads" fid="0">0</i></a></li>
                      <li><a href="my-agree.htm" class="hasIcon"><i class="icon fa fa-fw fa-star Button-icon"></i><span class="Button-label">喜欢</span></a></li>
                      <li><a href="#" class="hasIcon"><i class="icon fa fa-fw fa-th-large Button-icon"></i><span class="Button-label">版块</span></a></li>
                      <li class="Dropdown-separator"></li>
                      <? foreach($forumlist_show as &$f) { ?>
                      <li fid="<?=$f['fid']?>"><a class="TagLinkButton hasIcon nav-<?php echo $f['fid']?>" href="forum-<?=$f['fid']?>.htm"><span class="icon TagIcon Button-icon"></span><?php echo $f['name']?> <i class="newthreads" fid="<?php echo $f['fid']; ?>">0</i></a></li>
                      <? } ?>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
            <div class="IndexPage-results sideNavOffset">
              <div class="IndexPage-toolbar">
                <ul class="IndexPage-toolbar-view" id="threadlist_orderby">
                  <li>
                    <div class="ButtonGroup Dropdown dropdown">
                      <button class="Dropdown-toggle Button" data-toggle="dropdown">
                        <span class="Button-label">
                          <?php if($order == 'tid') { ?>最新主题<?php } ?>
                          <?php if($order == 'lastpid') { ?>最新回复<?php } ?>
                          <?php if($order == 'agrees') { ?>最多喜欢<?php } ?>
                        </span>
                        <i class="icon fa fa-fw fa-sort"></i>
                      </button>
                      <ul class="Dropdown-menu dropdown-menu">
                        <li><a href="forum-<?php echo $fid; ?>-<?php echo $page; ?>-lastpid.htm" nofollow>最新回复</a></li>
                        <li><a href="forum-<?php echo $fid; ?>-<?php echo $page; ?>-tid.htm" nofollow>最新主题</a></li>
                        <li><a href="forum-<?php echo $fid; ?>-<?php echo $page; ?>-agrees.htm" nofollow>最多喜欢</a></li>
                      </ul>
                    </div>
                  </li>
                </ul>
                <div class="ButtonGroup">
                  <? if(forum_is_mod($fid, $gid, $uid)) { ?>
                  <a class="Button" id="mod_top">置顶</a>
                  <a class="Button" id="mod_move">移动</a>
                  <a class="Button" id="mod_delete">删除</a>
                  <label class="Button"><input class="hide" type="checkbox" name="checkall" id="threadlist_checkall" value="" />&nbsp;全选</label>
                  <? } ?>
                </div>
                <ul class="IndexPage-toolbar-action">
                  <li class="item-refresh">
                    <button title="刷新" class="Button Button--icon hasIcon"><i class="icon fa fa-fw fa-refresh Button-icon"></i></button>
                  </li>
                </ul>
              </div>
              <div class="DiscussionList">
                <ul class="DiscussionList-discussions" id="threadlist">
                  <? include "./pc/view/thread_list_body.inc.htm"; ?>
                </ul>
                <?if(!empty($pages)) { ?>
    						<div class="page"><?=$pages?></div>
    						<? } ?>
              </div>
            </div>
          </div>
        </div>
      </div>

      <? include "./pc/view/footer.inc.htm"; ?>
    </div>
    <script>
    render_threadlist();
    thread_list_script();
    forumlist_active(fid);
    document_scroll_top();
    </script>
  </body>
</html>

<?php
online_save();
cron_run();
runtime_save();
?>