<? include "./pc/view/doctype.inc.htm"; ?>
  <body>
    <div id="app" class="App App--index affix">

      <? include "./pc/view/header.inc.htm"; ?>
      <div class="App-content" id="threadlist_panel">
        <div id="content">
          <div class="IndexPage">
            <header class="Hero WelcomeHero">
              <div class="container">
                <div class="containerNarrow">
                  <h2 class="Hero-title">搜索 "<?=$keyword?>" 结果（<?=count($threadlist)?>条）</h2>
                </div>
              </div>
            </header>
            <div class="container">
              <div class="IndexPage-nav sideNav">
                <ul class="affix-top">
                  <li class="item-newDiscussion App-primaryControl">
                  <? if(empty($gid)) { ?>
                    <a class="disabled Button Button--primary" href="thread-create<?=(empty($fid) ? '' : "-$fid")?>.htm"><i class="icon fa fa-fw fa-edit Button-icon"></i>登陆后才能发帖哦～</a>
                  <? } else { ?>
                    <a class="Button Button--primary App-primaryControl" href="thread-create<?=(empty($fid) ? '' : "-$fid")?>.htm"><i class="icon fa fa-fw fa-edit Button-icon"></i><span class="Button-label">发新帖</span></a>
                  <? } ?>
                  </li>
                  <li class="item-nav">
                    <div class="ButtonGroup Dropdown dropdown App-titleControl Dropdown--select">
                    	<button class="Dropdown-toggle Button"><span class="Button-label"><a href="./">所有话题</a></span> <i class="icon fa fa-fw fa-caret-down Button-caret"></i></button>
                      <ul class="Dropdown-menu dropdown-menu undefined">
                      	<li class="item-allDiscussions active"><a href="./" class="hasIcon"><i class="icon fa fa-fw fa-comments-o Button-icon"></i><span class="Button-label">所有话题</span></a></li>
                        <li class="item-following"><a href="my-agree.htm" class="hasIcon"><i class="icon fa fa-fw fa-star Button-icon"></i><span class="Button-label">喜欢</span></a></li>
                        <li class="item-tags"><a href="#" active="false" class=" hasIcon"><i class="icon fa fa-fw fa-th-large Button-icon"></i><span class="Button-label">版块</span></a></li>
                        <li class="Dropdown-separator"></li>
                        <? foreach($forumlist_show as &$f) { ?>
                        <li fid="<?=$f['fid']?>"><a class="TagLinkButton hasIcon" href="forum-<?=$f['fid']?>.htm"><span class="icon TagIcon Button-icon"></span><?=$f['name']?></a></li>
                        <? } ?>
                      </ul>
                    </div>
                  </li>
                </ul>

              </div>
              <div class="IndexPage-results sideNavOffset">
                <div class="IndexPage-toolbar">
                  <ul class="IndexPage-toolbar-view">
                    <div class="ButtonGroup">
                      <? if(forum_is_mod($fid, $gid, $uid)) { ?>
                      <a class="Button" id="mod_top">置顶</a>
                      <a class="Button" id="mod_move">移动</a>
                      <a class="Button" id="mod_delete">删除</a>
                      <label class="Button"><input class="hide" type="checkbox" name="checkall" id="threadlist_checkall" value="" />&nbsp;全选</label>
                      <? } ?>
                    </div>
                  </ul>
                  <ul class="IndexPage-toolbar-action">
                    <li class="item-refresh">
                      <button title="刷新" class="Button Button--icon win-refresh hasIcon"><i class="icon fa fa-fw fa-refresh Button-icon"></i></button>
                    </li>
                  </ul>
                </div>
                <div class="DiscussionList">
                  <ul class="DiscussionList-discussions" id="threadlist">
                    <? include "./pc/view/thread_list_body.inc.htm"; ?>
                  </ul>
                </div>
                <?if(!empty($pages)) { ?>
                <div class="page"><?php echo $pages; ?></div>
                <?php } ?>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <? include "./pc/view/footer.inc.htm"; ?>
    <script>
			render_forumlist();
			render_threadlist();
			thread_list_script();
			forumlist_active(fid);
			document_scroll_top();
		</script>
  </body>
</html>

<?php

online_save();
cron_run();
runtime_save();

?>