<?php include "./pc/view/doctype.inc.htm"; ?>
	<body>
    <div id="app" class="App App--index">
      <? include "./pc/view/header.inc.htm"; ?>
      <div class="App-content">
        <div id="content">
          <div class="UserPage">
          	<?php include "./pc/view/user_card.inc.htm"; ?>
          	<div class="container">
              <!--边栏开始-->
              <div class="sideNav UserPage-nav">
                <ul class="affix-top">
                  <li class="item-nav">
                    <div class="ButtonGroup Dropdown dropdown App-titleControl Dropdown--select">
                      <button class="Dropdown-toggle Button" data-toggle="dropdown">
                        <span class="Button-label">他喜欢的</span>
                        <i class="icon fa fa-fw fa-sort Button-caret"></i>
                      </button>
                      <ul class="Dropdown-menu dropdown-menu">
                      	<li>
                          <a href="user-<?=$_uid?>.htm" class="hasIcon">
                            <i class="icon fa fa-fw fa-user Button-icon"></i>
                            <span class="Button-label">个人资料<span class="Button-badge"><?php echo $user['myagrees'] ?></span></span>
                          </a>
                        </li>
                        <? if($_user['uid'] != 0) { ?>
                        <li>
                          <a href="user-thread-<?=$_uid?>.htm" class="hasIcon">
                            <i class="icon fa fa-fw fa-comment Button-icon"></i>
                            <span class="Button-label">他的帖子<span class="Button-badge"><?php echo $user['myagrees'] ?></span></span>
                          </a>
                        </li>
                        <li class="active">
                          <a href="user-agree-<?=$_uid?>.htm" class="hasIcon">
                            <i class="icon fa fa-fw fa-heart Button-icon"></i>
                            <span class="Button-label">他喜欢的<span class="Button-badge"><?php echo $user['posts'] ?></span></span>
                          </a>
                        </li>
                        <? } ?>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>

              <!--内容栏开始-->
              <div class="sideNavOffset UserPage-content">
	              <div class="DiscussionsUserPage">
	                <div class="DiscussionList">
	                  <ul class="DiscussionList-discussions">
	                    <?php foreach ($threadlist as $thread) { ?>
	                    <li>
	                      <div class="DiscussionListItem">
	                        <div class="DiscussionListItem-content Slidable-content">
	                          <a href="user-<?=$thread['lastuid']?>.htm" class="DiscussionListItem-author" title="<?php echo $thread['username']?>"><img src="<?php echo $thread['user_avatar_url']; ?>"class="Avatar"></a>
                            <ul class="DiscussionListItem-badges badges"><li class="item-subscription"><span class="Badge Badge--following " title="<?php echo $thread['agree_create_date_fmt']; ?>喜欢"><i class="icon fa fa-fw fa-star Badge-icon"></i></span></li></ul>
	                          <a href="<?php echo $thread['url']; ?>" class="DiscussionListItem-main">
	                            <h3 class="DiscussionListItem-title"><?php echo $thread['subject']; ?></h3>
	                            <ul class="DiscussionListItem-info">
	                              <li class="item-tags">
	                                <span class="TagsLabel nav-<?php echo $thread['fid']?>"><span class="TagLabel colored"><span class="TagLabel-text"><?php echo $thread['forumname']?></span></span></span>
	                              </li>
	                              <li class="item-terminalPost">
	                                <span>
	                                  <? if($thread['posts'] == 0) { ?>
	                                    <?php echo $thread['username']?> 发布于 <time pubdate="true"><?php echo $thread['create_date_fmt']?></time>
	                                  <? } else { ?>
	                                    <i class="icon fa fa-fw fa-reply "></i>
	                                    <span class="username"><?php echo $thread['lastusername']?></span>
                                      <?php echo $thread['last_date_fmt']?>
	                                  <? } ?>
	                                </span>
	                              </li>
	                            </ul>
	                          </a>
	                          <span class="DiscussionListItem-count" title="<?php echo $thread['posts']?>个回复"><?php echo $thread['posts']?></span>
	                        </div>
	                      </div>
	                    </li>
	                    <? } ?>
	                  </ul>
	                  <div class="page"><?=$pages?></div>
	                </div>
	              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <? include "./pc/view/footer.inc.htm"; ?>
    </div>
  </body>
</html>
<?php
online_save();
cron_run();
runtime_save();
?>