<? include "./pc/view/doctype.inc.htm"; ?>
<body>
  <div id="app" class="App App--index affix">
    <? include "./pc/view/header_thread.inc.htm"; ?>

    <div id="modal">
      <div class="ModalManager modal fade in" style="display: block;">
        <div class="Modal Modal--small">
          <div class="Modal-content">
            <!--
          	<div class="Modal-close App-backControl">
          		<button class="Button Button--icon Button--link hasIcon" type="button">
          			<i class="icon fa fa-fw fa-times Button-icon"></i>
          		</button>
          	</div>
          	-->
            <form method="POST" id="form" action="user-setpw.htm">
              <div class="Modal-header">
                <h3 class="App-titleControl App-titleControl--text">设置密码</h3>
              </div>
              <div class="Modal-alert"></div>
              <div class="Modal-body">
                <div class="Form">
                	<div class="Form-group">
                    <?=$email?>
                  </div>
                  <div class="Form-group">
                    <input class="FormControl" type="password" placeholder="新密码" name="password">
                  </div>
                  <div class="Form-group">
                    <input class="FormControl" type="password" placeholder="重复密码" name="password2">
                  </div>
                  <div class="Form-group">
                    <button class="Button Button--primary Button--block" type="submit" loading-text="正在提交..."><span class="Button-label">完成注册</span></button>
                  </div>
                </div>
              </div>
              <div class="Modal-footer">
                <p class="LogInModal-forgotPassword"><a href="user-findpw.htm">找回密码</a></p>
                <p class="LogInModal-signUp">没有帐号？<a href="user-create.htm">注册</a></p>
                <? if(runtime_get('qq_login_enable')) { ?>
    	            <p><a href="plugin/xn_qq_login/qq_login.php?action=login" target="_blank" title="QQ 登录">QQ登录</a></p>
                <? } ?>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <? include "./pc/view/footer.inc.htm"; ?>
  </div>

<script>

var referer = $.pdata('referer');
if(!referer) referer = '';

var jform = $('#form');
var jsubmit = jform.find('button[type="submit"]');
var jpassword = jform.find('input[name="password"]');
var jpassword2 = jform.find('input[name="password2"]');
jform.off('submit').on('submit', function() {
//jsubmit.off('click').on('click', function() {
	if(!jpassword.val()) {
		jpassword.popover('请输入密码').focus();
		return false;
	}
	if(jpassword.val() != jpassword2.val()) {
		jpassword2.popover('两次输入的密码不一致').focus();
		return false;
	}
	var postdata = {password: $.md5(jpassword.val())};
	jsubmit.button('loading');
	$.xpost(jform.attr('action'), postdata, function(code, message) {
		if(code == 0) {
			jsubmit.button('注册成功');
			setTimeout(function() { window.location=referer; }, 2000);
		} else if(code == 1) {
			jpassword.popover(message).focus();
			jsubmit.button('reset');
		} else {
			$.alert(message);
			setTimeout(function() {jsubmit.button('reset');}, 1000);
		}
	});
	return false;
});
</script>

</body>
</html>

<?php
online_save();
cron_run();
runtime_save();
?>