<div class="LoadingIndicator LoadingIndicator--inline">
  <div class="spinner" role="progressbar" style="position: absolute; width: 0px; z-index: auto; left: 50%; top: 50%;">
    <div style="position: absolute; top: -1px; opacity: 0.25; -webkit-animation: opacity-100-25-0-8 1s linear infinite;">
      <div style="position: absolute; width: 4px; height: 2px; background-color: rgb(255, 255, 255); -webkit-box-shadow: rgba(0, 0, 0, 0.0980392) 0px 0px 1px; -webkit-transform-origin: 0% 50%; -webkit-transform: rotate(0deg) translate(3px, 0px); border-top-left-radius: 1px; border-top-right-radius: 1px; border-bottom-right-radius: 1px; border-bottom-left-radius: 1px; background-position: initial initial; background-repeat: initial initial;">
      </div>
    </div>
    <div style="position: absolute; top: -1px; opacity: 0.25; -webkit-animation: opacity-100-25-1-8 1s linear infinite;">
      <div style="position: absolute; width: 4px; height: 2px; background-color: rgb(255, 255, 255); -webkit-box-shadow: rgba(0, 0, 0, 0.0980392) 0px 0px 1px; -webkit-transform-origin: 0% 50%; -webkit-transform: rotate(45deg) translate(3px, 0px); border-top-left-radius: 1px; border-top-right-radius: 1px; border-bottom-right-radius: 1px; border-bottom-left-radius: 1px; background-position: initial initial; background-repeat: initial initial;">
      </div>
    </div>
    <div style="position: absolute; top: -1px; opacity: 0.25; -webkit-animation: opacity-100-25-2-8 1s linear infinite;">
      <div style="position: absolute; width: 4px; height: 2px; background-color: rgb(255, 255, 255); -webkit-box-shadow: rgba(0, 0, 0, 0.0980392) 0px 0px 1px; -webkit-transform-origin: 0% 50%; -webkit-transform: rotate(90deg) translate(3px, 0px); border-top-left-radius: 1px; border-top-right-radius: 1px; border-bottom-right-radius: 1px; border-bottom-left-radius: 1px; background-position: initial initial; background-repeat: initial initial;">
      </div>
    </div>
    <div style="position: absolute; top: -1px; opacity: 0.25; -webkit-animation: opacity-100-25-3-8 1s linear infinite;">
      <div style="position: absolute; width: 4px; height: 2px; background-color: rgb(255, 255, 255); -webkit-box-shadow: rgba(0, 0, 0, 0.0980392) 0px 0px 1px; -webkit-transform-origin: 0% 50%; -webkit-transform: rotate(135deg) translate(3px, 0px); border-top-left-radius: 1px; border-top-right-radius: 1px; border-bottom-right-radius: 1px; border-bottom-left-radius: 1px; background-position: initial initial; background-repeat: initial initial;">
      </div>
    </div>
    <div style="position: absolute; top: -1px; opacity: 0.25; -webkit-animation: opacity-100-25-4-8 1s linear infinite;">
      <div style="position: absolute; width: 4px; height: 2px; background-color: rgb(255, 255, 255); -webkit-box-shadow: rgba(0, 0, 0, 0.0980392) 0px 0px 1px; -webkit-transform-origin: 0% 50%; -webkit-transform: rotate(180deg) translate(3px, 0px); border-top-left-radius: 1px; border-top-right-radius: 1px; border-bottom-right-radius: 1px; border-bottom-left-radius: 1px; background-position: initial initial; background-repeat: initial initial;">
      </div>
    </div>
    <div style="position: absolute; top: -1px; opacity: 0.25; -webkit-animation: opacity-100-25-5-8 1s linear infinite;">
      <div style="position: absolute; width: 4px; height: 2px; background-color: rgb(255, 255, 255); -webkit-box-shadow: rgba(0, 0, 0, 0.0980392) 0px 0px 1px; -webkit-transform-origin: 0% 50%; -webkit-transform: rotate(225deg) translate(3px, 0px); border-top-left-radius: 1px; border-top-right-radius: 1px; border-bottom-right-radius: 1px; border-bottom-left-radius: 1px; background-position: initial initial; background-repeat: initial initial;">
      </div>
    </div>
    <div style="position: absolute; top: -1px; opacity: 0.25; -webkit-animation: opacity-100-25-6-8 1s linear infinite;">
      <div style="position: absolute; width: 4px; height: 2px; background-color: rgb(255, 255, 255); -webkit-box-shadow: rgba(0, 0, 0, 0.0980392) 0px 0px 1px; -webkit-transform-origin: 0% 50%; -webkit-transform: rotate(270deg) translate(3px, 0px); border-top-left-radius: 1px; border-top-right-radius: 1px; border-bottom-right-radius: 1px; border-bottom-left-radius: 1px; background-position: initial initial; background-repeat: initial initial;">
      </div>
    </div>
    <div style="position: absolute; top: -1px; opacity: 0.25; -webkit-animation: opacity-100-25-7-8 1s linear infinite;">
      <div style="position: absolute; width: 4px; height: 2px; background-color: rgb(255, 255, 255); -webkit-box-shadow: rgba(0, 0, 0, 0.0980392) 0px 0px 1px; -webkit-transform-origin: 0% 50%; -webkit-transform: rotate(315deg) translate(3px, 0px); border-top-left-radius: 1px; border-top-right-radius: 1px; border-bottom-right-radius: 1px; border-bottom-left-radius: 1px; background-position: initial initial; background-repeat: initial initial;">
      </div>
    </div>
  </div>
  &nbsp;
</div>